# Challenge 2 - Data Preprocessing

Welcome to challenge 2/7! You will be attempting two parts just like in challenge 1 last week i.e., the MCQ section and the code challenge section.

Good luck! :)

## Section 1: Multiple Choice Questions

### Q1. What is the primary goal of data preprocessing in machine learning? (1 point)

**Options:**

1.  To train the model directly.
2.  To clean and prepare raw data for better model performance.
3.  To increase the size of the dataset.
4.  To avoid splitting the dataset into train and test sets.

In [1]:
def answer_q1():
    """
    Q1: What is the primary goal of data preprocessing in machine learning?
    """

    options = {
        1: "To train the model directly",
        2: "To clean and prepare raw data for better model performance",
        3: "To increase the size of the dataset",
        4: "To avoid splitting the dataset into train and test sets",
    }

    # TODO: return the correct option number
    return options[2]


print(
    f"Q1: What is the primary goal of data preprocessing in machine learning?\nAnswer: {answer_q1()}"
)

Q1: What is the primary goal of data preprocessing in machine learning?
Answer: To clean and prepare raw data for better model performance

### Q2. Which of the following techniques is used to handle missing numerical data? (1 point)

**Options:**

1. One-hot encoding
2. Imputing with mean, median, or mode
3. Removing categorical columns
4. Detecting outliers

In [2]:
def answer_q2():
    """
    Q2: Which of the following techniques is used to handle missing numerical data?
    """

    options = {
        1: "One-hot encoding",
        2: "Imputing with mean, median, or mode",
        3: "Removing categorical columns",
        4: "Detecting outliers",
    }

    # TODO: return the correct option number
    return options[2]


print(
    f"Q2: Which of the following techniques is used to handle missing numerical data?\nAnswer: {answer_q2()}"
)

Q2: Which of the following techniques is used to handle missing numerical data?
Answer: Imputing with mean, median, or mode

### Q3. What does one-hot encoding do? (1 point)

**Options:**

1. Replaces missing numerical values with zeros.
2. Converts numerical columns into categorical columns.
3. Converts categorical data into binary columns, one for each category.
4. Detects and removes outliers from a dataset.

In [3]:
def answer_q3():
    """
    Q3: What does one-hot encoding do?
    """

    options = {
        1: "Replaces missing numerical values with zeros",
        2: "Converts numerical columns into categorical columns",
        3: "Converts categorical data into binary columns, one for each category",
        4: "Detects and removes outliers from a dataset",
    }

    # TODO: return the correct option number
    return options[3]


print(f"Q3: What does one-hot encoding do?\nAnswer: {answer_q3()}")

Q3: What does one-hot encoding do?
Answer: Converts categorical data into binary columns, one for each category

### Q4. Which method can be used to detect outliers in a dataset? (1 point)

**Options:**

1.  Box plot visualization
2.  Calculating the correlation matrix
3.  Applying one-hot encoding
4.  Normalizing the data

In [4]:
def answer_q4():
    """
    Q4: Which method can be used to detect outliers in a dataset?
    """

    options = {
        1: "Box plot visualization",
        2: "Calculating the correlation matrix",
        3: "Applying one-hot encoding",
        4: "Normalizing the data",
    }

    # TODO: return the correct option number
    return options[1]


print(
    f"Q4: Which method can be used to detect outliers in a dataset?\nAnswer: {answer_q4()}"
)

Q4: Which method can be used to detect outliers in a dataset?
Answer: Box plot visualization

### Q5. You are working with a dataset containing a timestamp column (purchase_date). Which of the following feature engineering techniques would help capture temporal patterns effectively for predictive modeling? (2 points)

**Options:**

1. Extracting the day of the week, month, and hour from purchase_date.
2. Converting the purchase_date to a UNIX timestamp and normalizing it.
3. Creating features like "days since last purchase" for each customer.
4. All of the above.
5. None of the above.

For this question alone, justify your answer briefly by replacing the string value of `why` with your explanation in addition to returning the correct option.

In [5]:
def answer_q5():
    """
    Q5: You are working with a dataset containing a timestamp column (purchase_date).
    Which of the following feature engineering techniques would help capture temporal
    patterns effectively for predictive modeling?
    """

    options = {
        1: "Extracting the day of the week, month, and hour from purchase_date",
        2: "Converting the purchase_date to a UNIX timestamp and normalizing it",
        3: "Creating features like 'days since last purchase' for each customer",
        4: "All of the above",
        5: "None of the above",
    }

    # TODO: return the correct option number
    # Include your justification below in a line or two
    why = "Because a single normalized value is much easier for a model to work with than multiple different features"
    return options[2], why


print(
    f" Q5: You are working with a dataset containing a timestamp column (purchase_date).Which of the following feature engineering techniques would help capture temporal patterns effectively for predictive modeling?\nAnswer: {answer_q5()}"
)

 Q5: You are working with a dataset containing a timestamp column (purchase_date).Which of the following feature engineering techniques would help capture temporal patterns effectively for predictive modeling?
Answer: ('Converting the purchase_date to a UNIX timestamp and normalizing it', 'Because a single normalized value is much easier for a model to work with than multiple different features')

---

## Section 2: Code challenge (4 points)

To pass this section of the weekly challenge, uncomment/fill in code where necessary (marked with a 'TODO:' comment).

### 1. House keeping and imports

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### 2. Load Dataset

In [7]:
def load_data(file_path):
    # TODO: Load the dataset
    data = pd.read_csv(file_path)

    return data

In [8]:
data = load_data("titanic.csv")

### 3. Explore dataset

In [9]:
# TODO Display the first few rows of the dataset
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
# TODO: Display the dataset's information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Fill in the code below to return a dataframe that has the total number of missing (null) values per column.

In [11]:
def number_missing_values(data):
    # TODO: Return the number of missing values in each column
    return data.isna().sum()

### 4. Handle Missing Data

In [12]:
def preprocess_final(df):
    """
    1) fix missing data (Age, Embarked, etc.)
    2) drop unneeded columns (Cabin, Ticket, Name, PassengerId)
    3) encode 'Sex', 'Embarked'
    4) create at least 1 new feature
    5) ensure no NaN in final numeric columns

    returns df_processed with no missing values in essential columns
    """
    df_processed = df.copy()

    # TODO: handle missing Age (fill with median?), handle missing Embarked, etc.
    median_age = df_processed["Age"].median()
    df_processed["Age"] = df_processed["Age"].fillna(median_age)

    # TODO: drop columns
    drop_cols = ["Cabin", "Ticket", "Name", "PassengerId"]
    df_processed = df_processed.drop(drop_cols, axis=1)

    # TODO: binary encode 'Sex'
    df_processed["Sex"] = df_processed["Sex"].map({"male": 0, "female": 1})

    # fill the 2 empty values with the most common value 'S'
    df_processed["Embarked"] = df_processed["Embarked"].fillna("S")

    # TODO: one-hot encode 'Embarked'
    df_processed = pd.get_dummies(df_processed, columns=["Embarked"], drop_first=True)

    # TODO: create at least 1 new feature
    # e.g. FamilySize = SibSp + Parch + 1
    # df_processed['FamilySize'] = ...

    # final step: drop or fill any remaining missing
    df_processed.dropna(inplace=True)

    return df_processed


# try with train data
df_train = load_data("titanic.csv")
df_processed = preprocess_final(df_train)
print("After preprocess_final():")
print("Columns:", df_processed.columns)
print("Missing Values:", df_processed.isnull().sum().sum())

TypeError: Cannot convert ['S' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S'
 'S' 'C' 'S' 'S' 'Q' 'S' 'S' 'S' 'C' 'S' 'Q' 'S' 'C' 'C' 'Q' 'S' 'C' 'S'
 'C' 'S' 'S' 'C' 'S' 'S' 'C' 'C' 'Q' 'S' 'Q' 'Q' 'C' 'S' 'S' 'S' 'C' 'S'
 'C' 'S' 'S' 'C' 'S' 'S' 'C' nan 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'Q' 'S' 'C' 'S' 'S' 'C' 'S' 'Q' 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'C'
 'Q' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'Q'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'C' 'S' 'S' 'C' 'S' 'S'
 'S' 'C' 'S' 'S' 'S' 'S' 'Q' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'Q' 'S'
 'Q' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'Q' 'C' 'S' 'S' 'S' 'S' 'Q' 'C'
 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'S' 'S' 'C' 'Q' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'C' 'C' 'S' 'C' 'S' 'Q' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'C' 'Q' 'S' 'S' 'S' 'Q' 'S' 'Q' 'S' 'S' 'S' 'S' 'C' 'S' 'S'
 'S' 'Q' 'S' 'C' 'C' 'S' 'S' 'C' 'C' 'S' 'S' 'C' 'Q' 'Q' 'S' 'Q' 'S' 'S'
 'C' 'C' 'C' 'C' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'Q' 'S'
 'S' 'C' 'S' 'S' 'S' 'C' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'Q' 'Q'
 'S' 'C' 'C' 'S' 'Q' 'S' 'C' 'C' 'Q' 'C' 'C' 'S' 'S' 'C' 'S' 'C' 'S' 'C'
 'C' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'C' 'S' 'S' 'S' 'C' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'Q' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S'
 'S' 'S' 'C' 'C' 'S' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'Q' 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S'
 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'Q' 'Q' 'S'
 'S' 'C' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S'
 'C' 'C' 'C' 'Q' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'C' 'S' 'S' 'S' 'C' 'S' 'C'
 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'C' 'S' 'S' 'C' 'S' 'Q' 'C' 'S' 'S' 'C' 'C'
 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'Q' 'S' 'S'
 'S' 'S' 'C' 'S' 'S' 'C' 'S' 'C' 'C' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'Q'
 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'S'
 'Q' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'Q'
 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'C' 'C' 'S' 'C'
 'S' 'S' 'S' 'S' 'S' 'Q' 'Q' 'S' 'S' 'Q' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'C' 'S' 'S'
 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'Q' 'C' 'S' 'C' 'S'
 'C' 'Q' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'Q' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C'
 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'Q' 'Q' 'S' 'S' 'S' 'S' 'C'
 'S' 'S' 'Q' 'S' 'Q' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'C' 'Q' 'S'
 'S' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'C'
 'Q' nan 'C' 'S' 'C' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'C' 'C' 'S' 'S'
 'S' 'C' 'S' 'C' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S'
 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'C' 'S' 'S'
 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'C' 'Q'] to numeric

In [ ]:
# Display the dataset's common statistical information after preprocessing
df_processed.describe()

### 5. Looking at outliers

It is often useful to look at data for outliers. The following function plots histograms for all the numerical data in a dataframe. This will give an idea of the general distribution of data.

In [ ]:
def plot_histograms(df, bins=20):
    """
    Plots histograms for all columns in a DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        bins (int, optional): Number of bins for the histograms. Defaults to 20.
    """
    # Get numeric columns for histogram plotting
    numeric_columns = df.select_dtypes(include=["number"]).columns

    # Create subplots
    fig, axes = plt.subplots(3, 3, figsize=(15, 12))
    axes = axes.flatten()  # Flatten to iterate easily

    # Iterate and plot histograms for each numeric column
    for i, col in enumerate(numeric_columns):
        axes[i].hist(
            df[col], bins=bins
        )  # The bins argument should be an integer for number of bins, not column
        axes[i].set_title(f"Histogram of {col}")
        axes[i].set_xlabel(col)
        axes[i].set_ylabel("Frequency")

    # Hide any unused subplots
    for j in range(i + 1, len(axes)):
        axes[j].axis("off")

    plt.tight_layout()
    plt.show()

Plot the histograms for the numerical features of the processed dataset.

In [ ]:
plot_histograms(df_processed, bins=20)

A boxplot gives the general distribution of data in terms of quartile ranges and shows us outliers very clearly. Running the code cell below will show the box plot for the `Age` column grouped by the target column of `Survived`.  
This shows us the median age of those who survived and didn't as well as certain data points that seem to be against the norm.

In [ ]:
df_processed.boxplot(column="Age", by="Survived", grid=True)

### TODO: SHould the age outliers should be capped or removed from the dataset. Briefly justify.

Your answer here...

### 6. Training and testing (not graded)

Now that we have our clean and pre-processed data, feel free to run a classifier of choice and see the accuracy you get.

In [ ]:
def train_test(df):
    """
    Trains a classifier model on the input DataFrame.
    Returns:
        float: Accuracy of the trained model.
    """
    # Optional:
    # train and test a classifier model on the pre-processed data
    # X, y = df.drop('Survived', axis=1).values, df['Survived'].values
    # ...

    # return accuracy
    pass

In [ ]:
# accuracy = train_test(df_processed)
print(f"Model Accuracy: {100 * accuracy:.2f}%")